name: ci
run-name: ${{ github.actor }} is running ${{ github.workflow }} on ${{ github.repository }}@${{ github.ref }}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-moon-action@v1
      - run: moon ci
